<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.tedu.store.mapper.DistrictMapper">
	
	<!-- 
	 * 根据 父级代号查询子集的省、市区的列表
	 * @param parent 父级代号
	 * @return 省、市、区的列表
	 *
	List<District> findByParent(String parent); 
	-->
	<select id="findByParent" resultType="cn.tedu.store.entity.District">
		select 
			id , parent,
			code,name
		from 
			t_dict_district
		where
			parent=#{parent}
		order by code
	</select>
	
	<!-- 
	 * 根据代号查询子集的省、市区的详情
	 * @param code
	 * @return
	 * 
	 -->
	<select id="findByCode" resultType="cn.tedu.store.entity.District">
		select 
			id , parent,
			code,name
		from 
			t_dict_district
		where
			code=#{code}
	</select>
	
</mapper>